<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jt.mapper.OrderMapper">
	<select id="findOrderById" resultMap="orderRM">
		select * from tb_order where order_id=#{id}
	</select>
	<resultMap type="Order" id="orderRM" autoMapping="true">
		<!--主键 -->
		<id column="order_id" property="orderId" />

		<!--将order对象与ordershipping进行数据封装 一对一 -->
		<association property="orderShipping"
			javaType="OrderShipping" column="order_id" select="findOrderShipping" />
 
		<!--关联查询orderitems数据,封装一对多 -->
		<collection property="orderItems" ofType="OrderItem"
			column="order_id" select="findOrderItems" />
	</resultMap>


	<!--查询ordershipping数据 如果mybatis传参只有一个数据 不包含对象 #{任意值都可以} -->
	<select id="findOrderShipping" resultType="OrderShipping">
		select * from
		tb_order_shipping where order_id = #{orderId}
	</select>

	<!--根据orderid实现一对多查询 -->
	<select id="findOrderItems" resultType="OrderItem">
		select * from
		tb_order_item where order_id = #{orderid}
	</select>
</mapper>